/*--- general --*/
 xmp {
	background: #fff7ca;
	padding: 5pt;
	/* max-height: 300px; */
	/* overflow: scroll; */
	border: 5px solid;
	border-radius: 10pt;
	border-color: #ffeda5;
	color: crimson;
	padding-bottom: 15pt;
  }

/*-- TABEL --*/
.tg	{ 
	border-spacing:0; 
	width:100%;
	}
thead {  
	font-weight:900;
      background: sandybrown;
  }
.tg td, th {
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:13px;
	text-align: center; 
	overflow:hidden;
	word-break:normal;
	white-space: nowrap;
	padding:5pt;
	}
